- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'shared/subnav/questions_subnav'

#left-col
  .panel-2
    .panel-bar
      %h2 Ask a question
    .form-wrap.clearfix
      - unless current_user.present?
        %p== #{t 'questions.logged_in_error'} #{link_to 'Login now', login_path}
      - else
        - semantic_form_for Question.new do |form|
          - form.inputs do
            = form.input :question, :required => false, :label => false
          .fullQuestionForm.hide
            - form.inputs do
              = form.input :details, :required => false, :label => t('please_elaborate')
              = form.input :tags_string, :label => t('tags'), :required => false, :hint => t('tags_hint')
            - form.buttons do
              = form.commit_button :button_html => { :class => "btn" }

  = render_ad(:banner, @ad_layout, @ad_banner)
  - cache "questions_list_#{@page}html" do
    - questions ||= Question.active.paginate :page => params[:page], :per_page => Question.per_page, :order => "created_at desc"
    - @paginate ||= false
    - unless questions.empty?
      .panel-2
        .panel-bar
          - if questions.present? and questions.first.refineable?
            .refine-search-wrap
              = render :partial => 'shared/forms/refine_dropdown', :locals => { :select_options => Question.refineable_select_options }
          %h2= t('questions.list_title')
        .subtitle
          %span= t('questions.list_subtitle')
        .item-list-wrap
          #front-stories.item-list
            %ul
              - questions.each do |question|
                %li.askQuestionWrap{'data-id' => question.cache_key}
                  .question
                    .thumb
                      - if question.images.present?
                        = image_tag question.images.first.url(:thumb)
                      - else
                        = image_tag ('skin/watermark.jpg')
                    .item-block
                      %h3= link_to question.question, question
                      %p= linked_item_details question
                      .item-meta-data
                        .profile-pic= local_linked_profile_pic question.user
                        %h6= asked_by question
                        .meta-data-actions
                          %span== #{like_link question} #{question.votes.size}
                          %span.pipe
                            |
                          %span== #{link_to answer_translate(question.answers.count), question_path(question, :anchor => "commentListTop")}
                          -#%span= fb_share_item_button question

      - if @paginate
        .panel-2
          = will_paginate questions

#right-col
  = render :partial => 'shared/sidebar/questions_whatisthis'
  - if @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/top_questions'
  = render :partial => 'shared/sidebar/newest_questions'
  = render :partial => 'shared/sidebar/unanswered_questions'
  = render :partial => 'shared/sidebar/top_answers'
  = render :partial => 'shared/sidebar/newest_answers'
  = render :partial => 'shared/sidebar/top_tags', :locals => { :klass => Question , :locale_var => 'popular_tags' }
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
