%ul
  - @questions.each do |question|
    %li.askQuestionWrap{'data-id' => question.cache_key}
      .item_1
        .thumb
          - if question.images.present?
            = image_tag question.images.first.url(:thumb)
          - else
            = image_tag ('skin/watermark.jpg')
        .item-block
          %h2= link_to question.question, question
          %p= linked_item_details question
          .profile-pic= local_linked_profile_pic question.user
          .meta-data
            %h3= asked_by question
            %span== #{like_link question} #{question.votes.size}
            %span== #{link_to answer_translate(question.answers.count), question_path(question, :anchor => "commentListTop")}
            -#%span= fb_share_item_button question
