- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'shared/subnav/questions_subnav'

#left-col
  = render_ad(:banner, @ad_layout, @ad_banner)
  - @questions ||= Question.active.newest
  - @paginate ||= false
  .panel-2
    .panel-bar
      .refine-search-wrap
        = render :partial => 'shared/forms/refine_dropdown', :locals => { :select_options => Question.refineable_select_options }
      %h2= t('questions.my_list_title')
      - if @questions.present? and @questions.first.refineable?
    .subtitle
      %span= t('questions.my_list_subtitle')
    - unless @questions.empty?
      .item-list-wrap
        #front-stories.item-list
          %ul
            - @questions.each do |question|
              %li.askQuestionWrap{'data-id' => question.cache_key}
                .item_1
                  .thumb
                    - if question.images.present?
                      = image_tag question.images.first.url(:thumb)
                    - else
                      = image_tag ('skin/watermark.jpg')
                  .item-block
                    %h2= link_to question.question, question
                    %p= linked_item_details question
                    .profile-pic= local_linked_profile_pic question.user
                    .meta-data
                      %h3= asked_by question
                      %span== #{like_link question} #{question.votes.size}
                      %span== #{link_to answer_translate(question.answers.count), question_path(question, :anchor => "commentListTop")}
                      -#%span= fb_share_item_button question

      - if @paginate
        .panel-2
          = will_paginate @questions

#right-col
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/top_questions'
  = render :partial => 'shared/sidebar/newest_questions'
  = render :partial => 'shared/sidebar/unanswered_questions'
  = render :partial => 'shared/sidebar/top_answers'
  = render :partial => 'shared/sidebar/newest_answers'
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
