- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'shared/subnav/questions_subnav'

#left-col
  #item-details.panel-2
    - cache "#{@question.cache_key}_top_html" do
      .add-this-wrap
        = add_this @question
      .item-block
        - if @question.images.present?
          .thumb= image_tag @question.images.first.url(:medium)
        %h1.askQuestionHead= @question.question
        %div.content= sanitize @question.details
        .meta-data
          %h6= asked_by @question
          - if @tags.present?
            .tag-wrap
              %h6== Tags: #{tag_list(@tags, @question)}
      - if @question.media_item?
        = render_media_items @question
      - if @question.moderatable?
        .panel-2
          .mod-panel.clearfix
            .float-left= render :partial => 'shared/moderate_form', :locals => { :moderatable => @question }
            .float-right= render :partial => 'shared/flag_form', :locals => { :flaggable => @question }

      = render_ad(:banner, @ad_layout, @ad_banner)
  - if @question.answers.active.present?
    - cache "#{@question.cache_key}_bottom_html" do
      .panel-2
        .panel-bar
          %h2== Showing #{pluralize @question.answers.active.size, 'Answer'}
        .answer-thread-wrap
          %ul
            - @question.answers.active.each do |answer|
              = render :partial => 'shared/answer', :locals => { :answer => answer }
  .panel-2
    .panel-bar
      - if @question.answers.present?
        %h2= t('add_your_own_answer')
      - else
        %h2= t('be_first_to_answer')          
      - unless current_user.present?
        .subtitle
          == #{t 'questions.logged_in_error'} #{link_to 'Login now', login_path}
      - else

    .form-wrap
      - semantic_form_for @answer, :url => create_answer_question_path(@question) do |form|
        - form.inputs do
          = form.input :answer, :label => false
        - form.buttons do
          = form.commit_button :class => 'float-right', :button_html => { :class => "btn" }
  - if @outbrain_item
    = render :partial => 'shared/external/outbrain_wrapper'

  = render :partial => 'shared/item_footer', :locals => { :item => @question,:title => @question.question }

#right-col
  = render :partial => 'shared/sidebar/questions_whatisthis'
  - if @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/who_liked', :locals => { :item => @question }
  = render :partial => 'shared/sidebar/top_questions'
  = render :partial => 'shared/sidebar/newest_questions'
  = render :partial => 'shared/sidebar/unanswered_questions'
  = render :partial => 'shared/sidebar/top_answers'
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
