- item = vo.dataset.first
.panel-2
  .panel-bar
    - if vo.setting and vo.setting.locale_title
      %h2= vt.t(vo.setting.locale_title)
      
      - if vo.setting.use_post_button
        .panel-bar-actions
          = post_something vo.setting.klass_name

  .panel-half.pad-left
    .panel-content
      .item-with-image.flip
        - if item
          .item-thumb
            %a= image_tag(thumb_image_or_default(item))
          .item-text
            %h4
              %span.ellipsis_title_3= link_to sanitize_title(item.item_title), item.item_link, :class => 'ellipsis_text'
          .meta-data
            %h6= posted_by_with_topic(item)
            %h6= action_links(item)