- items = vo.dataset
- item1 = items.first
- remaining_items = items.slice(1,items.size)

.panel-2
  .feature-panel.medium.clearfix
    - if item1
      .feature-item-medium.first
        = link_to sanitize_title(item1.item_title), item1.item_link, :class => 'overlay-link'
        = link_to image_tag(medium_image_or_default(item1)), item1.item_link
        .feature-caption
          %h3= link_to sanitize_title(item1.item_title), item1.item_link
          -#%p= item1.item_description
    .feature-item-medium.last
      .panel-bar
        %h2 Latest
      .item-list-wrap
        .item-list
          %ul
            %li
              %h5
                %a Sit volup tatem accus ant ium dol orem accus antium dolorem
              .meta-data
                %h6
                  Posted By
                  %a Someone
                  via
                  %a Some News Site
            %li
              %h5
                %a Sit vol up tatem accus antium dol orem 
              .meta-data
                %h6
                  Posted By
                  %a Someone
                  via
                  %a Some News Site
            %li.last
              %h5
                %a Sit volup tatem ac cus ant ium dolo
              .meta-data
                %h6
                  Posted By
                  %a Someone
                  via
                  %a Some News Site
  .feature-panel.clearfix
    - if remaining_items
      - remaining_items.each_with_index do |item, index|
        .feature-item-third{:class => (index == 0 ? "first" : index == 2 ? "last" : "")}
          = link_to sanitize_title(item.item_title), item.item_link, :class => 'overlay-link'
          = image_tag(medium_image_or_default(item))
          .feature-caption
            %h5= link_to sanitize_title(item.item_title), item.item_link
