- item = vo.dataset.first
.panel-2
  .panel-bar
    %h2 Featured Stories
  .feature-panel.clearfix
    - if item
      .feature-item-large.first
        = image_tag(medium_image_or_default(item))
        .feature-caption
          %h2= link_to sanitize_title(item.item_title), item.item_link
          %p= item_text(item)

    - if item
      .feature-item-wrap-small.last
        .feature-item-small.top
          .link-overlay= link_to sanitize_title(item.item_title), item.item_link
          = image_tag(medium_image_or_default(item))
          .feature-caption
            %h2= link_to sanitize_title(item.item_title), item.item_link
            %p= item_text(item)
        .feature-item-small
          = image_tag(medium_image_or_default(item))
          .feature-caption
            %h2= link_to sanitize_title(item.item_title), item.item_link
            %p= item_text(item)