- item = vo.dataset.first
.panel-2
  .panel-bar
    - if vo.setting and vo.setting.locale_title
      %h2= vt.t(vo.setting.locale_title)

      - if vo.setting.use_post_button
        .panel-bar-actions
          = post_something vo.setting.klass_name

  .feature-panel.small.clearfix
    - if item
      .feature-item-small.first
        = image_tag(medium_image_or_default(item))
      .feature-item-large.last
        %h4= link_to sanitize_title(item.item_title), item.item_link
        .meta-data
          %h6= posted_by_with_topic(item)
          %h6= action_links(item)
