- items = vo.dataset
- item1 = items.first
- remaining_items = items.slice(1,items.size)

.panel-2
  .feature-panel.clearfix
    -# if item1
      .feature-item-medium
        = link_to image_tag(medium_image_or_default(item1)), item1.item_link
        .feature-caption
          %h1= link_to sanitize_title(item1.item_title), item1.item_link, :class => 'ellipsis_text'
          -#%p= item1.item_description

    - if remaining_items
      - remaining_items.each_with_index do |item, index|
        .feature-item-third{:class => (index == 0 ? "first" : index == 2 ? "last" : "")}
          = link_to sanitize_title(item.item_title), item.item_link, :class => 'overlay-link'
          = image_tag(medium_image_or_default(item))
          .feature-caption
            %h5= link_to sanitize_title(item.item_title), item.item_link
