- item = vo.dataset.first
.panel-2
  .panel-bar
    - if vo.setting and vo.setting.locale_title
      %h2= vt.t(vo.setting.locale_title)
  .feature-panel.small.clearfix
    - if item
      .feature-item-small.first
        = image_tag(medium_image_or_default(item))
      .feature-item-large.last
        %h4= link_to sanitize_title(item.item_title), item.item_link
        .item-meta-data
          %h6= posted_by_with_topic(item)
        %p= item_text(item)

