.panel-1
  %div.panel-bar.clearfix
    - if vo.setting and vo.setting.locale_title
      %h2= vt.t(vo.setting.locale_title)
      - if vo.setting.use_post_button
        .panel-bar-actions
          = post_something vo.setting.klass_name
          %span.pipe
            |
          %a View
  .item-list-wrap
    .item-list
      %ul
        - vo.dataset.each_with_index do |item, index|
          - if index == 0
            %li
              %h4
                %span.ellipsis_title_2= link_to sanitize_title(item.item_title), item.item_link, :class => 'ellipsis_text'
              .item-meta-data
                %h6= posted_by_with_topic(item)
          - elsif index == 1
            %li
              %h5
                %span.ellipsis_title_1= link_to sanitize_title(item.item_title), item.item_link, :class => 'ellipsis_text'
              .item-meta-data
                %h6= posted_by_with_date_and_topic(item)

          - else
            %li
              %h5
                %span.ellipsis_title_1= link_to sanitize_title(item.item_title), item.item_link, :class => 'ellipsis_text'
              .item-meta-data
                %h6= posted_by_with_date_and_topic(item)