.panel-1
  .info-widget
    - if current_user.present? and current_user.is_established?
      .content-profile
        .profile-pic= local_linked_profile_pic current_user
        %h3= vt.t('welcome_name', :name => current_user.first_name)
        %p= vt.t('welcome_panel_stack_up', :score_link => users_path, :user_score => current_user.combined_score).html_safe
        -#
          - unless current_user.combined_score < 20
            %h6= vt.t('karma_score', :score => current_user.karma_score)
            %h6= vt.t('activity_score', :score => current_user.activity_score)
          - else
            %p= vt.t('newbie_headline')

      - if true or vo.setting.use_post_button
        .actions-wrap
          = link_to t('post_story_button'), '', :class => "button-link", :rel => "#flowplayer-block", :onclick => "return false;"
          =render :partial => "shared/forms/simple_story_post"
    - else
      .content-profile
        .profile-pic
          - case get_setting('welcome_layout').try(:value)
            - when 'host'
              - if user = User.get_welcome_host
                = local_linked_profile_pic(user)
              - else
                = image_tag('skin/generic-profile-pic.jpg')
            - when 'thumb'
              - image_url = get_setting('welcome_image_url').try(:value)
              - if image_url.present?
                = image_tag image_url
              - else
                = image_tag('skin/generic-profile-pic.jpg')
            - else
              = image_tag('skin/generic-profile-pic.jpg')
        %h3= vt.t('shared.sidebar.welcome_panel.welcome_panel_headline')
        %p= vt.t('shared.sidebar.welcome_panel.welcome_panel_message_fbml').html_safe
