- item1 = vo.dataset.first
- item2 = vo.dataset[1]
- item3 = vo.dataset.last
.panel-3
  / Feature Panel Wrap - 3 Column 1 large story w/ img, 2 small w/ img and 3 listed stories 
  .feature-panel
    / One Large Story 
    - if item1
      .feature-item-large.first   
        = image_tag(medium_image_or_default(item1))
        .feature-caption
          %h2= link_to sanitize_title(item1.item_title), item1.item_link, :class => 'ellipsis_text'
          %p= item1.item_description

      / Two Small Stories 
      .feature-item-wrap-small
        - if item2
          .feature-item-small.top
            = image_tag(thumb_image_or_default(item2))
            .feature-caption
              %h3= link_to sanitize_title(item2.item_title), item2.item_link, :class => 'ellipsis_text'
        - if item3
          .feature-item-small
            = image_tag(thumb_image_or_default(item3))
            .feature-caption
              %h3= link_to sanitize_title(item3.item_title), item3.item_link, :class => 'ellipsis_text'

    / list of stories 
    .feature-item-medium.last
      .item-list-wrap
        .item-list
          %ul
            %li
              %h4
                %a{ :href => "#"} 
                  Sit volup tatem accus antium dolorem que 
              %p Sit volup tatem accus antium dolorem que Sit volup tatem dolorem que Sit volup tatem
            %li
              %h4
                %a{ :href => "#"} 
                  Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem dolorem que Sit volup tatem
            %li.last
              %h4
                %a{ :href => "#"} 
                  Sit volup tatem accus antium dolorem que volup 
              %p Sit volup tatem accus antium dolorem que Sit volup tatem dolorem que Sit volup tatem