#left-col
  .panel-2
    .panel-bar
      %h2 Sign In
    .formBox
      .login
        %p Choose a service to login with
        
        .provider-links
          - ['facebook', 'twitter'].each do |provider|
            = provider_image_link provider
        
        -# TODO: complete form
        .clear
        - if setting_enabled? 'allow_web_auth'
          %br
          %p Or login manually

          %form
            %p
              = label_tag 'login', t('.login')
              = text_field_tag 'login', @login
            %p
              = label_tag 'password', t('.password')
              = password_field_tag 'password', nil
            %p
              = label_tag 'remember_me', 'Remember me'
              = check_box_tag 'remember_me', '1', @remember_me
            %p
              = submit_tag t('.submit'), :id => "login-button"
