/ 1 large story w/ img, 2 small stories
.panel-2
  .feature-panel
    / Large story
    .feature-item-large.first
      %a.overlay-link{:href => '#'}
      = image_tag('skin/medium_watermark.jpg')
      .feature-caption
        %h2
          %a Sit volup tatem accus antium dolore
        %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que

    / two small stories
    .feature-item-wrap-small.last
      .feature-item-small.top
        %a.overlay-link{:href => '#'}
        = image_tag('skin/medium_watermark.jpg')
        .feature-caption
          %h3
            %a Sit volup tatem accus antium dolorem que
      .feature-item-small
        %a.overlay-link{:href => '#'}
        = image_tag('skin/medium_watermark.jpg')
        .feature-caption
          %h3
            %a Sit volup tatem accus antium dolorem que


/ 2 medium stories
.panel-2
  .feature-panel.medium
    / Medium story
    .feature-item-medium.first
      %a.overlay-link{:href => '#'}
      = image_tag('skin/medium_watermark.jpg')
      .feature-caption
        %h2
          %a Sit volup tatem accus antium dolorem

    .feature-item-medium.last
      %a.overlay-link{:href => '#'}
      = image_tag('skin/medium_watermark.jpg')
      .feature-caption
        %h2
          %a Sit volup tatem accus antium dolorem


/ 2 small stories w/ captions, 1 large list
.panel-2
  .feature-panel.large
    / two small stories
    .feature-item-wrap-small.first
      .feature-item-small.top
        %a.overlay-link{:href => '#'}
        = image_tag('skin/medium_watermark.jpg')
        .feature-caption
          %h4
            %a Sit volup tatem accus antium dolorem que
      .feature-item-small
        %a.overlay-link{:href => '#'}
        = image_tag('skin/medium_watermark.jpg')
        .feature-caption
          %h4
            %a Sit volup tatem accus antium dolorem que
    / Large List
    .feature-item-large.last
      .panel-bar
        %h2 Latest
      .item-list-wrap
        .item-list
          %ul
            %li
              %h3
                %a Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus 
            %li
              %h3
                %a Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem 
            %li.last
              %h3
                %a Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit 

/  1 large list, 2 small stories w/ captions
.panel-2
  .feature-panel.large
    / Large List
    .feature-item-large.first
      .panel-bar
        %h2 Latest
      .item-list-wrap
        .item-list
          %ul
            %li
              %h3
                %a Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus 
            %li
              %h3
                %a Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem 
            %li.last
              %h3
                %a Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit 
    / two small stories
    .feature-item-wrap-small.last
      .feature-item-small.top
        %a.overlay-link{:href => '#'}
        = image_tag('skin/medium_watermark.jpg')
        .feature-caption
          %h4
            %a Sit volup tatem accus antium dolorem que
      .feature-item-small
        %a.overlay-link{:href => '#'}
        = image_tag('skin/medium_watermark.jpg')
        .feature-caption
          %h4
            %a Sit volup tatem accus antium dolorem que

/ 1 medium list, 1 medium story w/ image
.panel-2
  .feature-panel.medium
    / medium list
    .feature-item-medium.first
      .panel-bar
        %h2 Featured Item List
      .item-list-wrap
        .item-list
          %ul
            %li
              %h3
                %a Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus 
            %li.last
              %h3
                %a Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit 
  
    / medium story
    .feature-item-medium.last
      %a.overlay-link{:href => '#'}
      = image_tag('skin/medium_watermark.jpg')
      .feature-caption
        %h2
          %a Sit volup tatem accus antium dolorem

/ 1 medium story w/ image, 1 medium list
.panel-2
  .feature-panel.medium
    / medium story
    .feature-item-medium.first
      %a.overlay-link{:href => '#'}
      = image_tag('skin/medium_watermark.jpg')
      .feature-caption
        %h2 
          %a Sit volup tatem accus antium dolorem
    / medium list
    .feature-item-medium.last
      .panel-bar
        %h2 Latest
      .item-list-wrap
        .item-list
          %ul
            %li
              %h3 
                %a Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus 
            %li.last
              %h3 
                %a Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit 

