/ 2 extra large stories w/ img
.panel-3
  .feature-panel.xlarge
    / xlarge story
    .feature-item-xlarge.first
      %a.overlay-link{:href => '#'}
      = image_tag('skin/medium_watermark.jpg')
      .feature-caption
        %h2 
          %a Sit volup tatem accus antium dolore
        %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que
    / two small stories
    .feature-item-wrap-small
      .feature-item-small.top
        %a.overlay-link{:href => '#'}
        = image_tag('skin/medium_watermark.jpg')
        .feature-caption
          %h3 
            %a Sit volup tatem accus antium dolorem que
      .feature-item-small
        %a.overlay-link{:href => '#'}
        = image_tag('skin/medium_watermark.jpg')
        .feature-caption
          %h3 
            %a Sit volup tatem accus antium dolorem que
    / two small stories
    .feature-item-wrap-small.last
      .feature-item-small.top
        %a.overlay-link{:href => '#'}
        = image_tag('skin/medium_watermark.jpg')
        .feature-caption
          %h3 
            %a Sit volup tatem accus antium dolorem que
      .feature-item-small
        %a.overlay-link{:href => '#'}
        = image_tag('skin/medium_watermark.jpg')
        .feature-caption
          %h3 
            %a Sit volup tatem accus antium dolorem que

/ 2 extra large stories w/ img
.panel-3
  .feature-panel.xlarge
    / xlarge story
    .feature-item-xlarge.first
      %a.overlay-link{:href => '#'}
      = image_tag('skin/medium_watermark.jpg')
      .feature-caption
        %h2 
          %a Sit volup tatem accus antium dolore
        %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que
    / xlarge story
    .feature-item-xlarge.last
      %a.overlay-link{:href => '#'}
      = image_tag('skin/medium_watermark.jpg')
      .feature-caption
        %h2 
          %a Sit volup tatem accus antium dolore
        %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que



/ 1 large story w/ img, 2 small stories w/ img, list of stories
.panel-3
  .feature-panel.large
    / Large story
    .feature-item-large.first
      %a.overlay-link{:href => '#'}
      = image_tag('skin/medium_watermark.jpg')
      .feature-caption
        %h2 
          %a Sit volup tatem accus antium dolore
        %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que

    / two small stories
    .feature-item-wrap-small
      .feature-item-small.top
        %a.overlay-link{:href => '#'}
        = image_tag('skin/medium_watermark.jpg')
        .feature-caption
          %h3 
            %a Sit volup tatem accus antium dolorem que
      .feature-item-small
        %a.overlay-link{:href => '#'}
        = image_tag('skin/medium_watermark.jpg')
        .feature-caption
          %h3 
            %a Sit volup tatem accus antium dolorem que

    / list of stories 
    .feature-item-medium.last
      .panel-bar
        %h2 Popular
      .item-list-wrap
        .item-list
          %ul
            %li
              %h4
                %a{ :href => "#"} 
                  Sit volup tatem accus antium dolorem 
              %p Sit volup tatem accus que Sit volup tatem accus antium dolorem que Sit volup tatem accus
            %li
              %h4
                %a{ :href => "#"} 
                  Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus
            %li.last
              %h4
                %a{ :href => "#"} 
                  Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus que Sit volup tatem accus antium dolorem que Sit volup tatem accus

/ 1 medium story w/ img, 4 small listed stories
.panel-3
  .feature-panel.medium
    / Medium story
    .feature-item-medium.first
      %a.overlay-link{:href => '#'}
      = image_tag('skin/medium_watermark.jpg')
      .feature-caption
        %h2 
          %a Sit volup tatem accus antium dolorem

    / two small stories w/ caption
    .feature-item-medium
      .panel-bar
        %h2 Popular
      .item-list-wrap
        .item-list
          %ul
            %li
              %h4 
                %a Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que
            %li.last
              %h4 
                %a Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que
  
    / two small stories w/ caption
    .feature-item-medium.last
      .panel-bar
        %h2 Latest
      .item-list-wrap
        .item-list
          %ul
            %li
              %h4 
                %a Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que
            %li.last
              %h4 
                %a Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que


/ 2 medium stories w/ img, 2 small listed stories
.panel-3
  .feature-panel.medium
    / medium story w/ img
    .feature-item-medium.first
      %a.overlay-link{:href => '#'}
      = image_tag('skin/medium_watermark.jpg')
      .feature-caption
        %h3 
          %a Sit volup tatem accus antium dolorem
    / medium story w/ img
    .feature-item-medium
      %a.overlay-link{:href => '#'}
      = image_tag('skin/medium_watermark.jpg')
      .feature-caption
        %h3 
          %a Sit volup tatem accus antium dolorem

    / two small stories w/ caption
    .feature-item-medium.last
      .panel-bar
        %h2 Latest
      .item-list-wrap
        .item-list
          %ul
            %li
              %h4 
                %a Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que
            %li.last
              %h4 
                %a Sit volup tatem accus antium dolorem
              %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que



 