-# @expects: local 'gallery'

- cache "#{gallery.cache_key}_voices" do
  %div{:class => "panel-1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
    .panel-bar
      %h2= t('galleries.voices_title')
    .subtitle
      %span= t('galleries.voices_subtitle')
    .item-list-wrap
      .item-list
        %ul
          - gallery.user_voices.uniq.each do |user|
            %li
              .meta-profile
                .profile-pic= local_linked_profile_pic user
                %h3== #{local_linked_profile_name(user)}
