-# @expects: local 'newest_articles'

- cache :newest_articles_html do
  - newest_articles ||= Article.published.active.newest 5
  - unless newest_articles.empty?
    %div{:class => "panel-1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panel-bar
        %h2= t('articles.newest_title')
      .item-list
        %ul
          - newest_articles.each do |article|
            %li
              .item-block
                %h4= link_to article.content.title, content_path(article.content)
                .profile-pic= local_linked_profile_pic article.author
                %h3= generic_posted_by article, article.author
                %span== #{like_link article.content} #{article.content.votes_tally}
                %span== #{link_to t('comments'), content_path(article.content, :anchor => "commentListTop")} #{article.content.comments_count}  
