-# @expects: local 'newest_users'

- cache :newest_users_html do
  - newest_users ||= User.active.newest
  - unless newest_users.empty?
    %div{:class => "panel-1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panel-bar
        %h2= t('.newest_users_title')
      .item-list
        %ul
          - newest_users.each do |user|
            %li
              .item-block
                .profile-pic= local_linked_profile_pic user
                %h4== #{local_linked_profile_name(user)}
                %h3== registered #{timeago user.created_at} ago
