-# @expects: local 'story'

- cache :newest_stories_html do
  - newest_stories ||= Content.active.newest_stories 5
  - unless newest_stories.empty?
    %div{:class => "panel-1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panel-bar
        %h2= t('.newest_stories_title')
      .item-list
        %ul
          - newest_stories.each do |story|
            %li
              .item-block
                %h4= link_to sanitize_title(story.title), story_path(story)
                .profile-pic= local_linked_profile_pic story.user
                .item-meta-data
                  %h3= generic_posted_by story
                  %span== #{like_link story} #{story.votes_tally}
                  %span== #{link_to t('comments'), story_path(story, :anchor => "commentListTop")} #{story.comments_count}
