- cache :newest_galleries_html do
  - newest_galleries ||= Gallery.active.newest(5)
  - unless newest_galleries.empty?
    %div{:class => "panel-1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panel-bar
        %h2= t('galleries.newest_galleries_title')
      .subtitle
        = link_to t('galleries.see_more'), galleries_path
      .item-list-wrap
        .item-list
          %ul
            - newest_galleries.each_with_index do |gallery, index|
              %li
                .item-image
                  .thumb
                    = link_to image_tag(thumb_image_or_default(gallery)), gallery
                  .content  
                    %h3= link_to gallery.title, gallery_path(gallery)
                    .meta-data
                      %h6
                        %span== #{like_link gallery} #{gallery.votes_tally}
                        %span== #{link_to t('comments'), gallery_path(gallery, :anchor => "commentListTop")} #{gallery.comments_count}
   