-# Expects klass, category_type, locale_var
- category_type ||= 'category'
- locale_var ||= 'categories.top_title'
- klass_name = klass.name.underscore

- cache "top_#{klass_name}_#{category_type}_html", :expires_in => 1.hour do
  %div{:class => "panel-1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
    .panel-bar
      %h2= t(locale_var)
    - # HACK:: LAZY:: arel conflicts with category_counts method and its counting of rows
    - category_results = klass.send("#{category_type}_counts").map {|i| i}
    - unless category_results.size == 0
      .top-categories
        %ul
          - category_results.each do |categorization|
            %li
              == (#{categorization.count})  #{link_to categorization.category.name, url_for(send("categorized_#{klass_name.underscore.pluralize}_path", CGI.escape(categorization.category.name))) }
    - else
      .subtitle
        = t('categories.no_items')
