-# @expects: local 'most_discussed_stories'
- cache :most_discussed_stories_html do
  - most_discussed_stories ||= Content.active.published.commented.find( :all, :limit => 5, :conditions => ["contents.created_at > ?", 1.week.ago], :order => "comments_count desc")
  - if most_discussed_stories.empty?
    - most_discussed_stories = Content.active.published.commented.find( :all, :limit => 5, :order => "comments_count desc")
  %div{:class => "panel-1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
    .panel-bar
      %h2= t('.top_discussed_title')
    .item-list-wrap
      .item-list
        %ul
          - unless most_discussed_stories.empty?
            - most_discussed_stories.each do |story|
              %li
                .story
                  %h5
                    %span.ellipsis_title_2= link_to sanitize_title(story.title), story_path(story)
                  .item-meta-data
                    %h6= stories_posted_by story
          - else
            %li
              .item-block
                %h5= t('empty.top_discussed_stories')