-# @expects: local 'topic'

- cache "#{topic.cache_key}_voices" do
  %div{:class => "panel-1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
    .panel-bar
      %h2= t('forums.topics.voices_title')
    .subtitle
      %span= t('forums.topics.voices_subtitle')
    .item-list
      %ul
        - topic.voices.uniq.each do |user|
          %li
            .item-block
              .profile-pic= local_linked_profile_pic user
              .item-meta-data
                %h3== #{local_linked_profile_name(user)}