-# @expects: local 'top_articles'

- cache :top_articles_html do
  - top_articles ||= Article.active.published.find( :all, :limit => 5, :order => "created_at desc" )  
  - unless top_articles.empty?
    %div{:class => "panel-1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panel-bar
        %h2= t('articles.top_title')
      .item-list-wrap
        .item-list
          %ul
            - top_articles.each do |article|
              %li
                .item-block
                  %h5= link_to article.content.title, content_path(article.content)
                .item-meta-data
                  %h6= generic_posted_by article, article.author
                  .meta-data-actions
                    %span== #{like_link article.content} #{article.content.votes_tally}
                    %span.pipe
                      |
                    %span== #{link_to t('comments'), content_path(article.content, :anchor => "commentListTop")} #{article.content.comments_count}
