-# Expects klass, tag_type, locale_var
- tag_type ||= 'tags'
- locale_var ||= 'tags.top_title'
- klass_name = klass.name

- cache "top_#{klass_name}_#{tag_type}_html" do
  %div{:class => "panel-1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
    .panel-bar
      %h2= t(locale_var)
    - unless klass.send("top_#{tag_type}").count == 0
      .category-list
        %ul        
          - klass.send("top_#{tag_type}").each do |tag|
            %li
              == (#{tag.count})  #{link_to tag.name, url_for(send("tagged_#{klass_name.underscore.pluralize}_path", CGI.escape(tag.name))) }
    - else
      .subtitle
        %span= t('no_tags')