-# @expects: local 'story'

- cache :top_stories_html, :expires_in => 60.minutes do
  - top_stories = (get_setting('exclude_articles_from_news').value ? Content.active.top_story_items(5,true) : Content.active.top_items(5,true))
  - unless top_stories.any?
    - top_stories = (get_setting('exclude_articles_from_news').value ? Content.active.top_story_items(5,false) : Content.active.top_items(5,false))
  - unless top_stories.empty?
    %div{:class => "panel-1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panel-bar
        %h2= t('.top_stories_title')
      .item-list-wrap
        .item-list
          %ul
            - top_stories.each_with_index do |story, index|
              -# todo hack to fix drafts appearing until we can switch articles out of this widget
              - unless story.is_article? and story.article.is_draft?
                %li
                  - if index == 0
                    .story
                      .profile-pic= local_linked_profile_pic story.user
                      %h5= link_to sanitize_title(story.title), story_path(story)
                      .meta-data
                        %h6= stories_posted_by story
                  - else
                    %h5= link_to story.title, story_path(story)
                    .meta-data
                      %h6= stories_posted_by story
      .itemActions
        = link_to t('read_more'), stories_path