#left-col
  .panel-2
    .panel-bar
      %h2 Sign up as a new user
    .formBox
      .login
        %h2 Join our community using one of your existing services.
        %br/

        .provider-links
          - ['facebook', 'twitter'].each do |provider|
            = provider_image_link provider

        %br/
        - if setting_enabled? 'allow_web_auth'
          %h2 Or, register as a new user below:
          - @user.password = @user.password_confirmation = nil
          = error_messages_for :user
          = form_for :user, :url => users_path do |f|
            %p
              = label_tag 'login'
              %br/
              = f.text_field :login
            %p
              = label_tag 'name'
              %br/
              = f.text_field :name
            %p
              = label_tag 'email'
              %br/
              = f.text_field :email
            %p
              = label_tag 'password'
              %br/
              = f.password_field :password
            %p
              = label_tag 'password_confirmation', 'Confirm Password'
              %br/
              = f.password_field :password_confirmation
            %p= submit_tag 'Sign up'
