-# expects local :commentable => @commentable
-# optional locals post_locale and commit_text
- post_locale ||= '.post_comment'
- commit_text ||= nil
- commit_text = t(commit_text) unless commit_text.nil?
.post-comment
  %a{:id => "post-comment-box", :name => "post-comment-box"}
  .panel-bar
    %h2= t post_locale

  - unless current_user.present?
    .subtitle
      == #{t '.logged_in_error'} #{link_to 'Login now', login_path(:return_to => request.request_uri)}
      = link_to 'Login now', login_path(:return_to => request.url)

  - else
    .form-wrap
      - semantic_form_for [commentable, Comment.new] do |form|
        = form.inputs do
          = form.input :comments, :input_html => { :rows => '4', :cols => '60' }, :label => false
          -# unless current_user.post_comments?
            = render :partial => 'shared/forms/wall_postable', :locals => { :form => form }
        = form.buttons do
          = form.commit_button commit_text, :button_html => { :class => 'btn' }
