-# @expects: local 'comment' %>
%li.comment-block
  .comment-bubble
    .comment-quote= nl2br linkify(comment.comments)
    .arrow
      .arrow-inner
  .comment-meta-data
    .profile-pic= local_linked_profile_pic comment.user
    .mod-flag-wrap
      - if comment.moderatable?
        %span= render :partial => 'shared/flag_form.html', :locals => { :flaggable => comment }
    %h6= generic_posted_by comment
    %h6
      %span= votes_link(comment, comment.votes_tally)

-#  .comment_reply
-#    %a.commentReply{:href => '#'}= "Reply"
-# TODO:: ADD TRANSLATION ^^
