.panel-2
  .panel-bar
    %h2= t('.title')
  .subtitle
    %span= t('.subtitle')
  .item-list-wrap
    .item-list
      %ul
        - idea_boards.each do |idea_board|
          %li
            .item-block
              %p= link_to idea_board.name, idea_board
              %p= idea_board.description

  - unless @no_paginate
    .clearfix
      = will_paginate idea_boards
      %br
