- cache_if page.present?, "ideas_list_#{page}html" do
  - ideas ||= Ideas.active.paginate :page => params[:page], :per_page => 10, :order => "created_at desc"
  - paginate ||= false
  .panel-2
    .panel-bar
      - if ideas.present? and ideas.first.refineable?
        .refine-search-wrap
          = render :partial => 'shared/forms/refine_dropdown'
      %h2= t('.ideas_title')
    .subtitle= t('.ideas_subtitle')
    .item-list-wrap
      .item-list
        %ul
          - ideas.each do |idea|
            %li{'data-id' => idea.cache_key}
              .item-image
                .thumb
                  - if idea.images.present?
                    = image_tag idea.images.first.url(:thumb)
                  - else
                    = image_tag ('skin/watermark.jpg')
                .content
                  %h3= link_to idea.title, idea_path(idea)
                  %p= linked_item_details idea
                  .meta-profile
                    .profile-pic= local_linked_profile_pic idea.user
                    %h6
                      = generic_posted_by idea
                      - if idea.idea_board.present?
                        in
                        = link_to(idea.idea_board.name, idea.idea_board)
                    %h6
                      %span== #{like_link idea} #{idea.votes_tally}
                      = pipe_spacer
                      %span== #{link_to t('.ideas_comments'), idea_path(idea, :anchor => "commentListTop")} #{idea.comments_count}
  - if paginate
    .panel-2
      = will_paginate ideas
