.panel-2
  .panel-bar.clearfix
    %h2= t('.title')
  .subtitle
    %span= t('.subtitle')
  .item-list-wrap
    .item-list.clearfix
      %ul
        - resource_sections.each do |resource_section|
          %li
            .item-block
              %p= link_to resource_section.name, resource_section
              %p= resource_section.description

  - unless @no_paginate
    .clearfix
      = will_paginate resource_sections
      %br
