- cache_if page.present?, "resources_list_#{page}html" do
  - resources ||= Resource.active.paginate :page => params[:page], :per_page => Resource.per_page, :order => "created_at desc"
  - paginate ||= false
  .panel-2
    .panel-bar
      - if resources.present? and resources.first.refineable?
        .refine-search-wrap
          = render :partial => 'shared/forms/refine_dropdown'
      %h2= t('.resources_title')
    .subtitle
      %span= t('.resources_subtitle')
    .item-list-wrap
      .item-list
        %ul
          - resources.each do |resource|
            %li{'data-id' => resource.cache_key}
              .item-image
                .thumb
                  - if resource.images.present?
                    = image_tag resource.images.first.url(:thumb)
                  - else
                    = image_tag ('skin/watermark.jpg')
                .content
                  %h3= link_to resource.title, resource_path(resource)
                  %p= linked_item_details resource
                  .meta-profile
                    .profile-pic= local_linked_profile_pic resource.user
                    %h6= generic_posted_by resource
                    %h6
                      %span== #{like_link resource} #{resource.votes_tally}
                      = pipe_spacer
                      %span== #{link_to t('.resources_comments'), resource_path(resource, :anchor => "commentListTop")} #{resource.comments_count}
                      -#%span= fb_share_item_button(resource)
 
    - if paginate
      .panel-2
        = will_paginate resources
