.panel-2
  .panel-bar.clearfix
    %h2= t('.title')
  .subtitle
    %span= t('.subtitle')
  .item-list-wrap
    .item-list
      %ul
        - resource_sections.each do |resource_section|
          %li
            .item-no-image
              .content
                %h3= link_to resource_section.name, resource_section
                %p= resource_section.description

- unless @no_paginate
  .panel-2
    = will_paginate resource_sections
