- page = ""
- paginate = false
- cache :stories_short_html, :expires_in => 15.minutes do
  - if get_setting('widget_stories_short_max').present?
    - story_count = get_setting('widget_stories_short_max').value
  - else
    - story_count = 3
  - if get_setting('exclude_articles_from_news').value
    - contents ||= Content.active.top_story_items.paginate :page => params[:page], :per_page => story_count, :order => "created_at desc"
  -else
    - contents ||= Content.active.top_items.paginate :page => params[:page], :per_page => story_count, :order => "created_at desc"
  .panel-2
    .panel-bar
      %h2= t('shared.stories.stories_title')
    .subtitle
      %span= t('shared.stories.stories_subtitle').html_safe
    .item-list-wrap
      .item-list
        %ul
          - contents.each do |content|
            -# todo hack to fix drafts appearing until we can switch articles out of this widget
            - unless content.article.present? and content.article.is_draft?
              %li{'data-id' => content.cache_key}
                .article
                  .thumb
                    - if content.images.present?
                      = image_tag content.images.first.url(:thumb)
                    -else
                      = image_tag ('skin/watermark.jpg')
                  .item-block
                    %h2= link_to content.title, story_path(content)
                    %p= linked_story_caption content
                  
                    .profile-pic= local_linked_profile_pic content.user
                    .item-meta-data
                      %h3= generic_posted_by content
                      %span== #{like_link content} #{content.votes_tally}
                      %span== #{link_to t('comments'), story_path(content, :anchor => "commentListTop")} #{content.comments_count} 
    .clearfix
    %p= link_to t('read_more'), stories_path, :class => "float-right"
    %br