- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'shared/subnav/events_subnav'

#left-col
  - cache "#{@event.cache_key}_html" do
    .panel-2#item-details
      .add-this-wrap
        = add_this @event
      .item-block
        .thumb
          - if @event.images.present?
            = image_tag @event.images.first.url(:medium)
          - if !@event.images.present? && @event.pic.present?
            = image_tag @event.pic
        %h1= @event.name
        %h6
          = generic_posted_by @event
          - if @tags.present?
            .tag-wrap
              %h6== Tags: #{tag_list(@tags,@event)}
      .item-meta-data
        %h5
          = t('.date_time')  
        %p
          == #{@event.start_time.to_s :short_with_time}
          - if @event.end_time.present?
            == - #{@event.end_time.to_s :short_time} 
        %h5
          = t('.location') 
        %p
          =h @event.location
          =h @event.street
          == #{h @event.city}, #{h @event.state}
          -# only show if both event urls are present
          - if @event.alt_url.present? and @event.url.present?
            .eventMeta.website
              %h4
                = link_to t('.website'), @event.get_url
            = link_to(t('.view'), @event.get_view_button_url, :class=>"btn", :target=>"_new") if @event.url.present? or @event.alt_url.present?
      .item-details-content= sanitize @event.description

    - if @event.media_item?
      = render_media_items @event

    - if @event.moderatable?
      .panel-2
        .mod-panel.clearfix
          .float-left= render :partial => 'shared/moderate_form', :locals => { :moderatable => @event }
          .float-right= render :partial => 'shared/flag_form', :locals => { :flaggable => @event }

  = render_ad(:banner, @ad_layout, @ad_banner)
   
  .panel-2.comment-section
    = render :partial => 'shared/comments', :locals => { :comments => @event.comments }
  .panel-2.comment-form
    = render :partial => 'shared/comment_form', :locals => { :commentable => @event }

  - if @outbrain_item
    = render :partial => 'shared/external/outbrain_wrapper'

  = render :partial => 'shared/item_footer', :locals => { :item => @event, :title =>@event.name }

#right-col
  - if @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  = render :partial => 'shared/sidebar/bio', :locals => { :user => @event.user }
  = render :partial => 'shared/sidebar/related_items', :locals => { :relatable => @event, :related_items => @event.related_items }
  = render :partial => 'shared/sidebar/who_liked', :locals => { :item => @event }
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
