%h2= "Edit Answer"
= semantic_form_for [:admin, @answer], :html => { :multipart => true } do |form|
  = render :partial => 'form', :locals => { :form => form }
  = form.buttons do
    = form.commit_button 'Update'
    = form.commit_button 'Cancel', :button_html => {:class => 'follow_link', :href => admin_answers_path}
