#secondary-navigation
  %ul
    %li{:class => "tab #{sub_tab_selected?(@current_sub_tab, 'Browse Events')}" }
      = link_to t('.browse_events'), events_path
    - if current_user
      %li{ :class => "tab #{sub_tab_selected?(@current_sub_tab, 'My Events')}" }
        = link_to t('.my_events'), my_events_event_path(:id => current_user)
    %li{:class => "tab #{sub_tab_selected?(@current_sub_tab, 'Suggest Event')}" }
      = link_to t('.suggest_event'), new_event_path
    - if current_facebook_user
      %li{:class => "tab #{sub_tab_selected?(@current_sub_tab, 'Add from Facebook')}"}
        = link_to t('.import_facebook'), import_facebook_events_path
