#secondary-navigation
  %ul
    %li{:class => "#{sub_tab_selected?(@current_sub_tab, 'Browse Ideas')}" }
      = link_to t('.browse_ideas'), ideas_path
    - if current_user
      %li{:class => "#{sub_tab_selected?(@current_sub_tab, 'My Ideas')}" }
        = link_to t('.my_ideas'), my_ideas_idea_path(:id => current_user)
    %li{:class => "#{sub_tab_selected?(@current_sub_tab, 'Suggest Idea')}" }
      = link_to t('.suggest_idea'), new_idea_path
