#secondary-navigation
  %ul
    %li{ :class => "#{sub_tab_selected?(@current_sub_tab, 'New Story')}"}
      = link_to t('.new_story'), new_story_path
    %li{ :class => "#{sub_tab_selected?(@current_sub_tab, 'New Article')}" }
      = link_to t('.new_article'), new_article_path
    - if current_user.present? and current_user.is_blogger?
      %li{:class => "#{sub_tab_selected?(@current_sub_tab, 'Draft Articles')}" }
        = link_to t('articles.drafts'), drafts_articles_path
