#secondary-navigation
  %ul
    - if @resource_section.present?
      %li{ :class => "tab #{sub_tab_selected?(@current_sub_tab, 'Browse Section Resources')}"}
        = link_to t('.browse_section_resources', :name => @resource_section.name), resource_section_path(@resource_section) 
      %li{ :class => "tab #{sub_tab_selected?(@current_sub_tab, 'Suggest Resource')}" }
        = link_to t('.suggest_section_resource', :name => @resource_section.name), new_resource_section_resource_path(@resource_section)
    %li{:class => "tab #{sub_tab_selected?(@current_sub_tab, 'Browse Resource Sections')}" }
      = link_to t('.browse_resource_sections'), resource_sections_path
    - if not @resource_section.present?
      %li
        = link_to t('.home_resource_sections'), resources_path
    -# TODO:: add this back in
    - if false and current_user
      %li{ :class => "tab #{sub_tab_selected?(@current_sub_tab, 'My Resources')}" }
        = link_to t('.my_resources'), my_resources_resource_path(:id => current_user)
