-# expects 'article => @article'

%li
  .thumb
    - if article.images.present?
      = image_tag article.images.first.url(:thumb)
    - else
      = image_tag ('skin/watermark.jpg', :width => "100%")
  .item-block
    %h2= link_to article.title, article_path(article)
    %p= linked_story_caption article
    .profile-pic= local_linked_profile_pic article.author
    .item-meta-data
      %h3= generic_posted_by article, article.author
      %span== #{like_link article} #{article.votes_tally}
      %span== #{link_to t('comments'), story_path(article, :anchor => "commentListTop")} #{article.comments_count}
