-# expects 'story => @story'

%li
  .thumb
    - if story.images.present?
      = image_tag story.images.first.url(:thumb)
    - else
      = image_tag ('skin/watermark.jpg', :width => "100%")
  .item-block
    %h2= link_to story.title, story_path(story)
    %p= linked_story_caption story
    .profile-pic= local_linked_profile_pic story.user
    .item-meta-data
      %h3= generic_posted_by story
      %span== #{like_link story} #{story.votes_tally}
      %span== #{link_to t('comments'), story_path(story, :anchor => "commentListTop")} #{story.comments_count}
