- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)
  = render :partial => 'subnav'

#left-col
  - cache "#{@resource.cache_key}_html" do
    .panel-2#item-details
      .add-this-wrap
        = add_this @resource
      .item-block
        - if @resource.images.present?
          .thumb
            = image_tag @resource.images.first.url(:medium)
        %h1= @resource.title
        .item-meta-data
          %h6
            = generic_posted_by @resource
            - if @resource.resource_section.present?
              = t('in')
              = link_to(@resource.resource_section.name, @resource.resource_section)
          - if @tags.present?
            .tag-wrap
              %h6== Tags: #{tag_list(@tags, @resource)}
        - unless @resource.details.empty?
          .item-details-content= sanitize @resource.details

    - if @resource.url.present?
      .panel-2
        .details-action-wrap.clearfix
          .float-right= link_to t('.visit_url'), @resource.url, :target => "_resource", :class => "button-link"

    - if @resource.media_item?
      = render_media_items @resource
    - if @resource.moderatable?
      .panel-2
        .mod-panel.clearfix
          .float-left= render :partial => 'shared/moderate_form', :locals => { :moderatable => @resource }
          .float-right= render :partial => 'shared/flag_form', :locals => { :flaggable => @resource }

    = render_ad(:banner, @ad_layout, @ad_banner)

    .panel-2.comment-section
      = render :partial => 'shared/comments', :locals => { :comments => @resource.comments }

    .panel-2.comment-form
      = render :partial => 'shared/comment_form', :locals => { :commentable => @resource }

  - if @outbrain_item
    = render :partial => 'shared/external/outbrain_wrapper'

  = render :partial => 'shared/item_footer', :locals => { :item => @resource, :title => @resource.title }

#right-col
  - if @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/bio', :locals => { :user => @resource.user }
  = render :partial => 'shared/sidebar/related_items', :locals => { :relatable => @resource, :related_items => @resource.related_items }
  = render :partial => 'shared/sidebar/who_liked', :locals => { :item => @resource }
  = render :partial => 'shared/sidebar/resource_sections_list', :locals => { :resource_sections => @newest_resource_sections }
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
