= form.inputs do
  = form.input :name
  = form.input :short_caption
  = form.input :long_caption
  = form.input :points
  = form.input :not_sendable
  = form.input :is_featured
  = form.input :is_blocked
  = form.input :image
%br
