%h1= "Card #{@card.name}"
%hr
%dl.clearfix
  %dt Name:
  %dd= dd_data @card.name

  %dt Short Caption:
  %dd= dd_data @card.short_caption

  %dt Long Caption:
  %dd= dd_data @card.long_caption

  %dt Points:
  %dd= dd_data @card.points

  %dt Slug Name:
  %dd= dd_data @card.slug_name

  %dt Not Sendable:
  %dd= dd_data @card.not_sendable

  .clear

%ul.admin_show_links
  %li= link_to 'Edit', admin_card_path(@card)
  %li= link_to 'Back to List', admin_cards_path

