-# expects: local 'item' 
.featured
  .item_2.comment
    .item-block
      %p.ellipsis_caption_4
        %span.ellipsis_text= item.comments
      .meta-data
        .profile-pic= local_linked_profile_pic item.user
        %h3= generic_posted_by item
        %h3
          Re:
          %a.ellipsis_title_1
          %span.ellipsis_text
            = link_to item.item_title, polymorphic_url(item.item_link)
        -# %span== #{link_to t('featured_comment.view'), polymorphic_url(item.item_link, :anchor => "commentListTop")}
        -# %span= votes_link(item, item.votes_tally)        
