.idea.large
  .thumb
    - if idea.images.present?
      = image_tag idea.images.first.url(:thumb)
    - else
      = image_tag ('skin/watermark.jpg')
  .item-block
    %h2= link_to idea.title, idea_path(idea)
    %p= linked_item_details idea
    .profile-pic= local_linked_profile_pic idea.user
    .meta-data
      %h3= generic_posted_by idea
      %span== #{like_link idea} #{idea.votes_tally}
      %span== #{link_to t('.ideas_comments'), idea_path(idea, :anchor => "commentListTop")} #{idea.comments_count}
