-# expects local user and score
.thumb.user
  = local_linked_profile_pic user, :size => "small"
.float-left{ :style => 'width: 60%' }
  %h2== #{local_linked_profile_name(user)}
  %p= caption(user.bio,350)
.float-right
  %h4.userPoints= t('predictions.accuracy', :accuracy => score.accuracy)
  %h3.userPoints= t('predictions.guess_count', :guess_count => score.guess_count)
