.resource.large
  .thumb
    - if resource.images.present?
      = image_tag resource.images.first.url(:thumb)
    - else
      = image_tag ('skin/watermark.jpg')
  .item-block
    %h2= link_to resource.title, resource_path(resource)
    %p= linked_item_details resource
    .profile-pic= local_linked_profile_pic resource.user
    .meta-data
      %h3= generic_posted_by resource
      %span== #{like_link resource} #{resource.votes_tally}
      %span== #{link_to t('.resources_comments'), resource_path(resource, :anchor => "commentListTop")} #{resource.comments_count}
      -#%span= fb_share_item_button(resource)
