.answer.small
  .item-block
    %h4= link_to caption(answer.answer,80), question_path(answer.question)
    .profile-pic= local_linked_profile_pic answer.user
    .item-meta-data
      %h3= answered_by answer
      %span== #{like_link answer} #{answer.votes_tally}
      %span== #{link_to answer_comments_translate(answer.comments_count), question_path(answer.question, :anchor => "commentListTop")}
