- content_for :title do
  = @gallery.item_title
- content_for :meta_description do
  = meta_description @gallery
- if @gallery.images.present?
  - content_for :meta_image do
    = meta_image @gallery.images.first

- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)

#left-col
  - cache "#{@gallery.cache_key}_html" do
    .panel-2#item-details
      .add-this-wrap
        = add_this @gallery
      %h1= @gallery.title
      .item-meta
        %h6
          = generic_posted_by @gallery
          %span.moderator-links.hidden{:class => "user-#{@gallery.user.id}"}
            = pipe_spacer
            = link_to t('galleries.edit'), edit_gallery_path(@gallery)
        - if @tags.present?
          %h6== Tags: #{tag_list(@tags, @gallery)}
      %p= sanitize @gallery.description

    .panel-2
      %ul.gallery-content.clearfix
        - @gallery.gallery_items.each do |item|
          %li= link_to image_tag(item.thumb_url, :alt => item.item_title), gallery_item_path(item), :title => item.item_description

    .panel-2
      - if @gallery.moderatable?
        .mod-panel.clearfix
          .float-right= render :partial => 'shared/moderate_form', :locals => { :moderatable => @gallery }
          .float-left= render :partial => 'shared/flag_form', :locals => { :flaggable => @gallery }
    = render_ad(:banner, @ad_layout, @ad_banner)
    .panel-2.comment-list
      = render :partial => 'shared/comments', :locals => { :comments => @gallery.comments }
    .panel-2.comment-form
      = render :partial => 'shared/comment_form', :locals => { :commentable => @gallery }
  - if @outbrain_item
    = render :partial => 'shared/external/outbrain_wrapper'
  = render :partial => 'shared/item_footer', :locals => { :item => @gallery,:title => @gallery.title }


#right-col
  - if  @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  - if @custom_sidebar_widget
    = render :partial => 'shared/custom_widget', :locals => { :widget => @custom_sidebar_widget }
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  - cache "#{@gallery.cache_key}_sidebar_html" do
    = render :partial => 'shared/sidebar/bio', :locals => { :user => @gallery.user }
    = render :partial => 'shared/sidebar/who_liked', :locals => { :item => @gallery }
    = render :partial => 'shared/sidebar/gallery_voices', :locals => { :gallery => @gallery }
  = render :partial => 'shared/sidebar/related_items', :locals => { :relatable => @gallery, :related_items => @gallery.related_items }
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
  - if current_user
    - if @gallery.is_public? or @gallery.user == current_user or current_user.is_moderator?
      .panel-1
        = link_to t('galleries.add_new_item'), add_gallery_item_gallery_path(@gallery), {:class => 'button-link'}
