-# content_for :sub_nav do
  = render :partial => 'shared/breadcrumbs', :locals => { :breadcrumbs => get_forum_breadcrumbs(@galleries) }
- content_for :sub_nav do
  = render_ad(:leaderboard, @ad_layout, @ad_leaderboard)

#left-col
  = render_ad(:banner, @ad_layout, @ad_banner)
  - cache_if @page.present?, "gallery_tags_list#{@page}" do
    - @paginate ||= false
    .panel-2
      .panel-bar
        %h2= t('galleries.title')
        -# if galleries.present? and galleries
          -#%span.bar_link= fb_share_item_button(galleries)
      .subtitle
        %span= t('galleries.subtitle')
        
      .item-list-wrap
        .item-list
          %ul.galleries
            - @galleries.each do |gallery|
              %li{'data-id' => gallery.cache_key}
                .thumb
                  = link_to image_tag(thumb_image_or_default(gallery)), gallery
                .item-block
                  %h2= link_to gallery.title, gallery
                  %p= gallery.description
                  -#.profile-pic= local_linked_profile_pic gallery.user
                  .item-meta-data
                    -#%h3= t('galleries.last_active', :fb_name => local_linked_profile_name(gallery.user), :date => timeago(gallery.created_at))
                    -#%span= t('galleries.topics_count', :topics_count => gallery.topics_count)
                    -#%span= t('galleries.posts_count', :posts_count => gallery.comments_count)
    - if @paginate
      .clearfix
        = will_paginate @galleries
        %br

                      
#right-col
  = render :partial => 'shared/sidebar/galleries_whatisthis'
  - if @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render :partial => 'shared/sidebar/top_galleries'
  = render :partial => 'shared/sidebar/newest_galleries'
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
