- items = vo.dataset
= panel2 do
  = large_feature_panel do
    = large_featured_item_block(:class => 'first') do
      = panel_bar vt.t(vo.setting.locale_title)
      = featured_item_list items.slice!(0,3)
    = small_featured_item_block(:class => 'last') do
      = small_featured_item items.shift, :class => 'top'
      = small_featured_item items.shift
