- items = vo.dataset
= panel3 do
  = small_feature_panel do
    = small_featured_item items.shift, :class => 'first'
    = small_featured_item items.shift
    = small_featured_item items.shift
    = small_featured_item items.shift, :class => 'last'
