%h1 Flag Details
%hr
%dl.clearfix
  %dt Flag Type:
  %dd= dd_data @flag.flag_type

  %dt Flagged By:
  %dd= dd_data link_to(@flag.user.try(:name), [:admin, @flag.user])

  %dt Item Type:
  %dd= dd_data @flag.flaggable.class.name.humanize

  %dt Item Title:
  %dd= dd_data link_to(@flag.item_title, [:admin, @flag.flaggable])

  %dt Item Description
  %dd= dd_data @flag.item_description

  %dt Flags Count:
  %dd= @flag.num_flags

  %dt Blocked?
  %dd= @flag.flaggable.is_blocked

  %dt Creation Date:
  %dd= dd_data @question.created_at.strftime("%m/%d/%Y %H:%M")

  %dt Update Date:
  %dd= dd_data @question.updated_at.strftime("%m/%d/%Y %H:%M")

  .clear


%br
%h2== All flags on #{@flag.item_title}

- if @flag.flaggable.flags.empty?
  %p No other flags
- else
  %table.admin-table
    %thead
      %tr
        %th Item Title
        %th Item Description
        %th Item Type
        %th Flag Type
        %th Flagged By
        %th Flagged At
        %th Flags Count
        %th Blocked?
        %th Actions
    %tbody
      - @flags.each do |flag|
        %tr{:class => cycle('odd', 'even')}
          %td= link_to flag.item_title, [:admin, flag.flaggable]
          %td= flag.item_description
          %td= flag.flaggable.class.name.humanize
          %td= flag.flag_type
          %td= link_to flag.user.name, [:admin, flag.user]
          %td= flag.created_at
          %td= flag.flaggable.respond_to?(:flags_count) ? flag.flaggable.flags_count : flag.flaggable.flags.count
          %td= flag.is_blocked
          %td= link_to 'View Flags', [:admin, flag]

  .clear

%ul.admin_show_links
  %li= link_to 'Back to List', admin_cards_path




