- content_for :sub_nav do
  = render :partial => 'shared/subnav/resource_sections_subnav'

#left-col
  .panel-2
    .panel-bar.clearfix
      %h2= @resource_section.name
      -#%span.bar_link= fb_share_item_button(@resource_section)
    .subtitle
      %span= @resource_section.description
    .item-list-wrap
      .item-list
        %ul
          - @resource_section.resources.active.newest(10).each do |resource|
            %li{'data-id' => resource.cache_key}
              .item_1
                .thumb
                  - if resource.images.present?
                    = image_tag resource.images.first.url(:thumb)
                  - else
                    = image_tag ('skin/watermark.jpg')
                .item-block
                  %h2= link_to resource.title, [@resource_section, resource]
                  %p= linked_item_details resource
                  .profile-pic= local_linked_profile_pic resource.user
                  .meta-data
                    %h3= generic_posted_by resource
                    %span== #{like_link resource} #{resource.votes_tally}
                    %span== #{link_to t('comments'), [@resource_section, resource]} #{resource.comments_count}
                    -#%span= fb_share_item_button(resource)

  = render :partial => 'shared/index_footer', :locals => { :index_path => resource_section_path(:only_path => false, :canvas => iframe_facebook_request?), :title => @resource_section.name }
                  
#right-col
  - if @sponsor_zone_code
    = render :partial => 'shared/ads/sponsor_zone_wrapper'
  = render :partial => 'shared/sidebar/resources_list', :locals => { :resources => @top_resources, :title => t('resources.top_resource_sections', :name => @resource_section.name) }
  = render :partial => 'shared/sidebar/resources_list', :locals => { :resources => @newest_resources, :title => t('resources.newest_resource_sections', :name => @resource_section.name) }
  = render :partial => 'shared/sidebar/resource_sections_list', :locals => { :resource_sections => @newest_resource_sections }
