!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    - title = (out = yield(:title)) ? "#{out} - #{get_setting('site_title').try(:value)}" : get_setting('site_title').try(:value)
    %title= title
    %meta{:name => 'title', :content => title}
    - if get_setting('google-site-verification').present?
      %meta{:name => 'google-site-verification', :content => "#{get_setting('google-site-verification').value}"}
    - if get_setting('yahoo-site-verification').present?
      %meta{:name => 'y_key', :content => "#{get_setting('yahoo-site-verification').value}"}
    %meta{:name => 'description', :content => (out = yield(:meta_description)) ? out : get_setting_value('site_topic')}
    %meta{:name => 'medium', :content => 'news'}
    = page_meta_tags

    = csrf_meta_tag

    %link{:rel  => "image_src", :content => (out = yield(:meta_image)) ? out : base_url('/images/default/icon-fan-app.gif')}
    %link{:rel  => "icon", :href => base_url('/images/default/icon-fan-app.gif')}
    
    - if iframe_facebook_request?
      = stylesheet_link_tag 'compiled/fb_grid.css', :media => 'screen, projection'
    - else
      = stylesheet_link_tag 'compiled/grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/text.css', :media => 'print'
    = raw stylesheet_link_merged :base

    - if get_setting('typekit').present?
      - typekit = get_setting('typekit').value
      - if typekit != '000000'
        = javascript_include_tag "http://use.typekit.com/#{typekit}.js"
        :javascript
          try{Typekit.load();}catch(e){}

    :javascript
      var Newscloud = {};
      Newscloud.config = {};
      Newscloud.config.fbAppId = "#{APP_CONFIG['omniauth']['providers']['facebook']['key']}";
      Newscloud.config.settings = #{get_json_app_config}
      window.Newscloud = Newscloud;

    - native_voting = get_setting('native_voting')
    - if native_voting.present? and native_voting.value
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'http://cdn.jquerytools.org/1.2.2/all/jquery.tools.min.js', "http://platform.twitter.com/anywhere.js?id=#{get_setting('oauth_key').try(:value)}&v=1","http://s7.addthis.com/js/250/addthis_widget.js"
    - else
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'http://cdn.jquerytools.org/1.2.2/all/jquery.tools.min.js',"http://s7.addthis.com/js/250/addthis_widget.js", "http://platform.twitter.com/widgets.js"

    = raw javascript_include_merged :base

    = javascript_include_tag 'jquery.ellipsis'
    - if iframe_facebook_request?
      = javascript_include_tag '/iframe/users/current'
    - else
      = javascript_include_tag '/users/current'

    - unless @sponsor_zone_code.nil?
      = javascript_include_tag 'http://ads.trafficspaces.net/v1.22/adservice.js'
      :javascript
        $(function() {
          TS_AdService.FetchAds();
        });

    :javascript
      $(function() {
        var audio = $('#audioplayer_1');
        if (audio) {
          AudioPlayer.setup("/swfs/audio_player.swf", {
            width: 290
          });
        }
      });

      $(function() {
      	$('.left').removeClass('left');
      	$('.right').removeClass('right');
      	var runMasonry = function() {
          $('#home_container').masonry({
            columnWidth: #{iframe_facebook_request? ? 253 : 320},
            itemSelector: '.box'
          });
        };
        /* MAKE DAMN WELL SURE THIS RUNS IN FACEBOOK */
        runMasonry();
        setTimeout(function() { runMasonry(); }, 1000);
        setTimeout(function() { runMasonry(); }, 3000);
        setTimeout(function() { runMasonry(); }, 5000);
        window.onload = function() { runMasonry(); };
        /* </annoying_facebook_hack> */
      });

      $(function() {
        $("a[rel^='gallery']").prettyPhoto({theme : 'dark_rounded'});
      });

    -# IE Debugging 
    =# javascript_include_tag 'http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'

    = auto_discovery_link_tag(:atom, @auto_discovery_rss)

    = yield :head_content

  %body
    #bodyWrapper
      = render :partial => 'shared/header'
      = flash_messages

      = yield :sub_nav

      = yield
      
      = render :partial => 'shared/footer'
    -# Move these out of the footer, they can't be in a wrapper class... oh IE how I loathe thee
    #overlay.standard_overlay
      .contentWrap
    #login-overlay.standard_overlay
      .contentWrap
 

    = render :partial => 'shared/google_analytics'
    
    #fb-root

    = javascript_include_tag 'application'
